.row
  .hero-unit
    .row
      .span3
        = image_tag 'beer-mug.png'

      .offset1.span5.sign-up
        %h1.hero-title dudebeer.me
        %p.hero-subtitle A social homebrewing recipe repository.
        .center= link_to 'Sign up now!', '#', class: 'btn btn-success btn-large'

  .row.features
    .span4
      .center
        %h3 Feature One
        %a{href: '#'}
          = image_tag 'http://placehold.it/150x150', class: 'img-circle'
      %p.example A description of the first awesome feature goes here!

    .span4
      .center
        %h3 Feature Two
        %a{href: '#'}
          = image_tag 'http://placehold.it/150x150', class: 'img-circle'
      %p.example A description of the second awesome feature goes here!

    .span4
      .center
        %h3 Feature Three
        %a{href: '#'}
          = image_tag 'http://placehold.it/150x150', class: 'img-circle'
      %p.example A description of the third awesome feature goes here!
