!!!
%html
  %head
    %title dudebeer.me

    = stylesheet_link_tag      "application", media: "all"
    = javascript_include_tag   "application"
    = google_webfonts_link_tag :paprika
    = csrf_meta_tags

  %body
    = render 'layouts/shim'
    = render 'layouts/header'
    .container
      = render 'layouts/messages'
      = yield
      = render 'layouts/footer'
